<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Mobile.master.cs" Inherits="ProfileWebsite.Site_Mobile" %>

<%@ Register Src="~/ViewSwitcher.ascx" TagPrefix="friendlyUrls" TagName="ViewSwitcher" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <script type="text/javascript" src="JavaScript/jquery-1.3.2.min.js"></script>
    <script type="text/javascript">
        function mainmenu() {
            $(" #nav ul").css({ display: "none" }); //Opera Fix

            document.getElementById('#banner').style.backgroundPosition = 'center center';

            $("#nav li").hover(function () {
                $(this).find('ul:first').css({ visibility: "visible", display: "none" }).show(400);
            }
            , function () {
                $(this).find('ul:first').css({ visibility: "hidden" });
            });

            $(document).ready(function () {
                mainmenu();
            })
        }
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/Styles/stylesheet.css" />
    <title>Johari Hughes</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="/Content/css" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>

<body>

    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div id="wrapper">

            <div id="banner" style="color: #000000">
                <h2><b>Johari Hughes's Profile</b></h2>
            </div>

            <div class="navbar navbar-inverse navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <%--<a class="navbar-brand" runat="server" href="~/">Application name</a>--%>
                    </div>

                    <div class="navbar-collapse collapse center">
                        <ul class="nav navbar-nav" id="nav">
                            <li><a href="/Default.aspx">Home</a></li>
                            <li><a href="/Freelance.aspx">Freelance</a></li>
                            <li><a href="/Experience.aspx">Experience</a></li>
                            <li><a href="/Education.aspx">Education</a></li>
                            <li><a href="/ProjectsInfo.aspx">Projects</a>
                                <ul class="dropdown">
                                    <li><a href="/RealEstateExecutive.aspx">Real Estate</a></li>
                                    <li><a href="/VisioTech.aspx">Visio-Tech</a></li>
                                    <li><a href="/VoTech.aspx">Vo-Tech</a></li>
                                </ul>
                            </li>
                            <li><a href="http://www.JohariHughes.com/Profile-OnePage">Switch to 1-Pager</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="content">
                <asp:ContentPlaceHolder ID="contentHolder" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        
            <div class="navbar navbar-bottom navigation">

            <div class="container">
                        <p style="margin-top:12px; font-size:15px;"><b><%: DateTime.Now.Year %> Created by: Johari Hughes - Brooklyn Park, Minnesota, 55443 - 512.529.4574 (M) - JoHughes114@gmail.com</b> <friendlyUrls:ViewSwitcher runat="server" /></p>

            </div>
        </div>

        </div>

    </form>

</body>

</html>

