﻿body {
    font-family: "Times New Roman";
    background-color: #f3e9b0;
}

    #wrapper{
        width: 95%;
        margin: 0 auto;
        padding: 10px;
        border: 5px solid #dedede;
        background-color: #ffffff;
        /*//text-align: center;*/
    }

    #banner{
        height: 230px;
        border: 3px solid #E3E3E3;
        background-image: url(/Images/handshake.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: #000000;
        text-align: center;
        width: 100%;
        background-position: center center;
        /*background-attachment: fixed;*/
    }

    .navigation{
        /*height: 45px;*/
        border: 3px solid #E3E3E3;
        margin-top: 20px;
        background-image: url(/Images/banner.jpg);
        text-shadow: 0.1em 0.1em #333;
        text-align: center;
        color: #ffffff;
    }

    #nav {
        background-image: url(/Images/banner.jpg);
        list-style: none;
        text-align: center;
    }

    #nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: auto;
        display: none;
    }

    #nav li{
        font-size: 18px;
        float: left;
        position: relative;
        width: 180px;
        height: 50px;
    }

    #nav li:hover .dropdown{
        display: block;
    }


    #nav li ul li {
        background-image: url(/Images/banner.jpg);
        background-repeat: no-repeat;
        border: 3px solid #E3E3E3;
        background-size: cover;
        padding-left: 10px;
    }


    #nav a:link, #nav a:active, #nav a:visited{
        display: block;
        color: #fff;
        text-decoration: none;
    }

    #nav a:hover{
        color: lightblue;
    }

    #content{
        /*float: left;*/
        /*width: 50%;*/
        margin: 20px 0 20px 0;
        padding: 5px;
        /*text-align: left;*/
    }

    .width50{
        width: 50%;
    }
    .width90{
        width: 80%;
    }

    .width100{
        width: 100%;
    }

    .center{
        text-align: center;
    }

    #sidebar{
        float: right;
        width: 50%;
        height: 400px;
        margin: 20px 10px 20px 10px;
        top: 50%;
        text-align: center;
    }

.img-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    float: right;
}

.imgLeft{
    float: left;
    margin-left:10px;
    /*width: 240px;
    height: 150px;
    padding: 10px;*/
}

.imgRight{
    float: right;
    margin-right:10px;
    /*width: 200px;
    height: 250px;
    padding: 10px;*/
}

.border_slide{
    border:3px solid black;
}

.carousel-indicators li {
    background-color: black;  
}
.carousel-indicators .active {
    background-color: black;
}

.videoWrapper {
	position: relative; /* 16:9 */
	/*padding-bottom: 56.25%; 
	padding-top: 25px;*/
	height: 450px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



